<%- include('./partials/header') %>

<h2>Welcome to Flights</h2>
<p>The word flight and flights has started to look strange now that I have spent a great deal of time with it.</p>

<%- include('./partials/footer') %>